.mono-espacada{
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

.corBackground{
    background-color: #FFFFFF;
}


ul{
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    background-color: navy;

}

li{
    float: left;
}

li a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: cornflowerblue;
}