.mono-espacada{
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

.corBackground{
    background-color: #FFFFFF;
}

.float_center {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}

.float_center > .child {
    position: relative;
    left: 50%;
}


ul{
    list-style-type: none;
    overflow: hidden;
    background-color: navy;
}

li{
    float: left;
}

li a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: cornflowerblue;
}