*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.mono-espacada{
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

.corBackground{
    background-color: #CCC;
}

.navBar{
    margin-top: 50px;
}

.img{
    text-align:center;
}

.img img{
    border: 5px solid navy;
    /*border-radius: 0 50px 0 50px;*/
    /*transform: rotate(45deg);*/
}

/*.img img:hover{
    border-radius: 50px 0 50px 0;
}*/

ul{
    list-style-type: none;
    overflow: hidden;
    background-color: navy;
    width:100%;
}

li{
    float: left;
    height: 50px;
    line-height: 30px;
    margin-right: 30px;
}

li a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: cornflowerblue;
}

